<app-student-navbar></app-student-navbar>

<div class="container jumbotron">
    <h2>Listado de estudiantes</h2>
        <table>
            <tr>
                <td>Carnet</td>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Acciones</td>
            </tr>
                <tr>
                    <td>T1</td>
                    <td>T2</td>
                    <td>T3</td>
                    <td>
                        <a class="btn btn-success">Actualizar</a>
                        <a class="btn btn-danger">Borrar</a>
                    </td>
                </tr>
        </table>
        
<app-student-footer></app-student-footer>