<app-student-navbar></app-student-navbar>

<div class="container jumbotron">
    <h2>Creación de estudiantes</h2>
    <div>
        <div>
            <p class="lead">Carnet:</p>
            <input type="text" class="lead" name="id">
        </div>
        <div>
            <p class="lead">Primer nombre:</p>
            <input type="text" class="lead" name="firstName">
        </div>
        <div>
            <p class="lead">Primer apellido:</p>
            <input type="text" class="lead" name="lastName">
        </div>
        <div>
            <p class="lead">Contraseña:</p>
            <input type="password" class="lead" name="password">
        </div>
        <div>
            <input type="hidden" value="1" name="type">
            <button class="btn btn-primary" name="saveStudent">Guardar</button>
        </div>
    </div>
</div>

<app-student-footer></app-student-footer>